{% extends "::base.html.twig" %}

{% block body %}
    {{ parent() }}

    {% block highlight %}
        <h2>
            {% for notification in app.session.flashbag.get('notifications') %}
                {{ notification }}
            {% endfor %}
        </h2>
    {% endblock %}
{% endblock %}